.comment {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    font-family: 'SUIT-Regular';
    padding-top: 50px;
    padding-bottom: 60px;
}


/* 모바일 환경 */

@media (max-width: 768px) {
    .comment {
        padding-top: 30px;
        padding-bottom: 40px;
        font-size: 0.95rem;
        padding-left: 16px;
        padding-right: 16px;
        text-align: left;
        font-family: 'SUIT-Regular';
    }
}