.footer {
  background-color: #f7f8fa;
  font-size: x-small;
  color: #535353;
  font-family: "SBAggroB_L";
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-name {
  text-decoration: underline;
}
