---
import '../styles/header.css';
---

<header class="menubar">
    <a href="/"><div class="blogName">meongdee.com</div></a>

    <!-- 메뉴 드롭다운 -->
    <div class="menu-container">
      <ul class="menu">
        <li>
          posts
          <!-- <ul class="submenu">
            <li>Computer Science</li>
            <li>Algorithm</li>
            <li>Language</li>
          </ul> -->
        </li>

        <li>
          about
          <!-- <ul class="submenu">
            <li>Post1</li>
            <li>Post2</li>
            <li>Post3</li>
          </ul> -->
        </li>
      </ul>
    </div>

    <div class="controls">
      <!-- <a href="">검색</a> -->
      <!-- <a href="">햄버거</a> -->
    </div>
  </header>